<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cryptocurrency Recommendation</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="/static/logo.svg" alt="The logo" />Cryptocurrency Recommendation
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <a href="#" class="navbar__link">Recent</a>
      </li>
      <li class="navbar__navigation-item">
        <a href="#" class="navbar__link">Calendar</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <section class="form">
      <div class="form_part">
        <h1 class ="form_title">Bitcoin Price</h1>
        <div class="form_left">
          <form class="table_group">
            <a class="exchange" href="https://www.coinjar.com/global/buy/bitcoin"> CoinJar</a>
            <div class = "price">
              <a>Buy: coinjar sell</a>
              <a>Sell: coinjar buy</a>
            </div>
          </form>
          <form class="table_group">
            <a class="exchange" href="https://paybis.com/price/"> paybis</a>
            <div class = "price">
              <a>Buy: paybis sell</a>
              <a>Sell: paybis buy</a>
            </div>
          </form>
        </div>
      </div>
      <div class="form_part">
        <h2 class ="form_title">Best Price</h2>
        <form class = "form_right">
          <a class = "best_title"> Buy</a>
          <a class="exchange" href="https://paybis.com/price/"> paybis</a>
          <a class = "best_title"> Sell</a>
          <a class="exchange" href="https://paybis.com/price/"> paybis</a>
        </form> 
      </div>  
    </section>
    <section class = "form">
      <div class="form_part">
        <h1 class ="form_title">Ethereum Price</h1>
        <div class="form_left">
          <form class="table_group">
            <a class="exchange" href="https://www.coinjar.com/global/buy/ethereum""> CoinJar</a>
            <a class = "price">Buy: coinjar sell</a>
            <a class = "price">Sell: coinjar buy</a>
          </form>
          <form class="table_group">
            <a class="exchange" href="https://paybis.com/price/"> paybis</a>
            <a class = "price">Buy: paybis sell</a>
            <a class = "price">Sell: paybis buy</a>
          </form>
        </div>
      </div>
      <div class="form_part">
        <h2 class ="form_title">Best Price</h2>
        <form class = "form_right">
          <a class = "best_title"> Buy</a>
          <a class="exchange" href="https://paybis.com/price/"> paybis</a>
          <a class = "best_title"> Sell</a>
          <a class="exchange" href="https://paybis.com/price/"> paybis</a>
        </form> 
      </div>  
    </section>
  </main>
  <footer class="footer">
    <div class="footer__content">
      <section class="left">
        <a class="footer__item">Made by Ruoxia Chen</a>
        <a class="footer__item">Check out my other projects</a>
      </section>
      <section class="right">
        <div class="footer__column">
          <a class="footer__item">Recent</a>
          <a class="footer__item">Calendar</a>
        </div>
        <div class="footer__column">
          <a class="footer__item" href="#">About</a>
          <a class="footer__item">How this was made</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>